@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf') format('truetype-variations');
  font-weight: 1 999;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/PressStart2P.ttf') format('truetype');
}

/* Scroll bar styling */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-zinc-900/80;
}

/* Other styles */
html,
body,
#app {
  height: 100%;
  user-select: none;
  overflow: hidden;
}

body {
  font-family: var(--font-family);
  color: var(--text-color-secondary);
}

#app {
  display: flex;
  flex-direction: column;
}

/* Custom icons */
.pi-steam:before,
.pi-epic:before,
.pi-ea:before,
.pi-ubisoft:before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--text-color);
  mask-size: 1.5rem;
  mask-repeat: no-repeat;
  background-size: 1.5rem;
  background-repeat: no-repeat;
}
.pi-steam:before {
  mask-image: url('../logos/steam_logo.svg');
}
.pi-epic:before {
  background-color: transparent;
  background-image: url('../logos/epic_logo.svg');
}
.pi-ea:before {
  mask-image: url('../logos/ea_logo.svg');
}
.pi-ubisoft:before {
  mask-image: url('../logos/ubisoft_logo.svg');
}
